:root:not(.theme-dark) {
  --tv-color-platform-background: #ffffff;
  --tv-color-pane-background: #ffffff;
}

.theme-dark:root {
  --tv-color-platform-background: #141518;
  --tv-color-pane-background: #141518;
}
